# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
build/

# IDE
.idea/
*.iml
.vscode/

# Environment
.env
.env.local
.env.*.local

# Metro
.metro-health-check*

# Debug
yarn-debug.log*
yarn-error.log*

# Temporary
*.swp
*.swo
*~
*.hprof
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*